APP_ENV=development

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=joyn
DB_USERNAME=<DB_USERNAME>
DB_PASSWORD=<DB_PASSWORD>

APP_SECRET= <64 character base64 string>

API_IMAGE_URL=https://localhost/images/
CORS_ORIGIN=*

# ElasticSearch
ELASTIC_SEARCH_ACCESS_URL=<ELASTIC_SEARCH_ACCESS_URL>
ELASTIC_SEARCH_USERNAME=<ELASTIC_SEARCH_USERNAME>
ELASTIC_SEARCH_PASSWORD=<ELASTIC_SEARCH_PASSWORD>

# Email stuff
EMAIL_SERVICE_NAME=<EMAIL_SERVICE_NAME>
EMAIL_SERVICE_HOST=<EMAIL_SERVICE_HOST>
EMAIL_SERVICE_SECURE=<EMAIL_SERVICE_SECURE>
EMAIL_SERVICE_PORT=<EMAIL_SERVICE_PORT>
EMAIL_USER_NAME=<EMAIL_USER_NAME>
EMAIL_USER_PASSWORD=<EMAIL_USER_PASSWORD>
NOTIFICATION_FROM_EMAIL=noreply@joyn.one
NOTIFICATION_FROM_NAME=Joyn
SYSTEM_FROM_EMAIL=noreply@joyn.one
SYSTEM_FROM_NAME=Joyn

# Stream - https://getstream.io
GET_STREAM_API_KEY=<GET_STREAM_API_KEY>
GET_STREAM_API_SECRET=<GET_STREAM_API_SECRET>
ANTIDEO_API_KEY=<ANTIDEO_API_KEY>
ACTIVE_CAMPAIGN_BASE_URL=<ACTIVE_CAMPAIGN_BASE_URL>
ACTIVE_CAMPAIGN_API_URL=<ACTIVE_CAMPAIGN_API_URL>
ACTIVE_CAMPAIGN_API_TOKEN=<ACTIVE_CAMPAIGN_API_TOKEN>
ACTIVE_CAMPAIGN_EVENT_KEY=<ACTIVE_CAMPAIGN_EVENT_KEY>
ACTIVE_CAMPAIGN_TRACKING_URL=trackcmp.net
ACTIVE_CAMPAIGN_ACCOUNT_ID=<ACTIVE_CAMPAIGN_ACCOUNT_ID>