<!-- Vertical spacer -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="100%" align="center" style="height: 80px; line-height: 30px; width: 100%">&nbsp;</td>
  </tr>
</table>
<!-- Vertical spacer end -->

<table border="0" cellpadding="0" cellspacing="0" width="96%">
  <tr>
    <td align="left">
      <span style="font-family: 'Work Sans', 'Open Sans', sans-serif !important; font-style: normal; font-weight: 600; font-size: 48px; text-align: top; color: #0C1014;">{{line1}}</span>
    </td>
  </tr>
  <tr>
    <td  width="100%" align="center" style="height: 0px; width: 100%">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">
      <span style="font-family: 'Work Sans', 'Open Sans', sans-serif !important; font-style: normal; font-weight: normal; font-size: 15px; text-align: top; color: #212930;">{{line2}}</span>
    </td>
  </tr>
  <tr>
    <td  width="100%" align="center" style="height: 40px; width: 100%">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">
      <table border="0" cellpadding="0" cellspacing="0" width="150" height="50"  style="background: #61C3C9; border: 1px solid #EEEEEE; border-radius: 4px;">
        <tr>
          <td align="center" width="100%">
              <span style="font-family: 'Work Sans', 'Open Sans', sans-serif !important; font-style: normal; font-weight: 500; font-size: 18px; text-align: top; color: #fff;">{{verificationCode}}</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- Vertical spacer -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="100%" align="center" style="height: 117px; line-height: 30px; width: 100%">&nbsp;</td>
  </tr>
</table>
<!-- Vertical spacer end -->
