<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left">
      <p>Hello,</p>
    </td>
  </tr>
  <tr>
    <td align="left">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
        <tr>
          <td align="left" valign="top">
            <p>{{line2}} <strong>{{verificationCode}}</strong>.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

