<!-- Footer -->
<table border="0" cellpadding="0" cellspacing="0" width="96%">
  <tr>
    <td align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="96%">
        <tr>
          <td align="center">
            <span style="font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif !important; font-style: normal; font-weight: 500; font-size: 14px; text-align: top; color: #B1BCC0;">&#169; {{current_year}}  {{footer_text}}.</sapn>
          </td>
        </tr>
      </table>

      <!-- Spacer -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width="100%" align="center" style="height: 20px; line-height: 20px; width: 100%">
            <div style="height: 20px; line-height: 20px; width: 100%;"></div>
          </td>
        </tr>
      </table>
      <!-- Spacer -->

      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" style="height: 100%; width: 60px; line-height: 2; font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif !important; font-size: 8px;">
                  <a href="#facebook" target="_blank" style="text-decoration: none; vertical-align: middle;">
                    <img src="https://static.wixstatic.com/media/6426a8_4001a7724b754524ab1151d24b70a20b~mv2.png" width="23" height="23" border="0" alt="Facebook" style="line-height: 0;" />
                  </a>
                </td>
                <td align="center" style="height: 100%; width: 60px; line-height: 2; font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif !important; font-size: 8px;">
                  <a href="https://www.linkedin.com/company/joyn-connect/" target="_blank" style="text-decoration: none; vertical-align: middle;">
                    <img src="https://static.wixstatic.com/media/6426a8_76637691621f44acb28feed19ea3afad~mv2.png" width="23" height="23" border="0" alt="LinkedIn" style="line-height: 0;">
                  </a>
                </td>
                <td align="center" style="height: 100%; width: 60px; line-height: 2; font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif !important; font-size: 8px;">
                  <a href="https://www.instagram.com/findjoyn/" target="_blank" style="text-decoration: none; vertical-align: middle;">
                    <img src="https://static.wixstatic.com/media/6426a8_9a2da8c3ba20493abbf9fb88559e8396~mv2.png" width="23" height="23" border="0" alt="Instagram" style="line-height:0;">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- Footer -->
