  <!-- Footer start -->
  <table border="0" cellpadding="0" cellspacing="0" width="96%">
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="96%">
          <tr>
            <td align="center">
              <span style="font-family: 'Inter', 'Work Sans', 'Open Sans', sans-serif !important; font-style: normal; font-weight: 500; font-size: 14px; text-align: top; color: #B1BCC0;">&#169; {{current_year}}  {{footer_text}}.</sapn>
            </td>
          </tr>
        </table>

        <!-- Vertical spacer -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
              <td width="100%" align="center" style="height: 0px; line-height: 20px; width: 100%">&nbsp;</td>
          </tr>
        </table>
        <!-- Vertical spacer end -->

        <table>
          <tr>
            <td align="center">
              <table>
                <tr>
                  <td align="center" style="height:100%; width: 60px;line-height:15px; font-size:8px;">
                    <a href="#facebook" target="_blank" style="text-decoration: none; vertical-align: middle;">
                      <img src="cid: facebook.png" width="23" height="23" alt="facebook.png" title="facebook.png"/>
                    </a>
                  </td>
                  <td align="center" style="height:100%; width: 60px;line-height:15px; font-size:8px;">
                    <a href="#linkedin" target="_blank" style="text-decoration: none; vertical-align: middle;">
                      <img src="cid: linkedin.png" alt="fabebook" width="23" height="23" border="0" style="line-height:0;">
                    </a>
                  </td>
                  <td align="center" style="height:100%; width: 60px;line-height:15px; font-size:8px;">
                    <a href="#instagram" target="_blank" style="text-decoration: none; vertical-align: middle;">
                      <img src="cid: instagram.png" alt="instagram" width="23" height="23" border="0" style="line-height:0;">
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- Footer end -->
</div>
