<!-- START: Header -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" style="background: #61C3C9; border: 1px solid #EEEEEE; border-radius: 4px;">
  <tr>
    <td align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="96%" height="51">
        <tbody>
          <tr>
            <td align="left">
              <img src="https://static.wixstatic.com/media/6426a8_a63a895616b14b9ab5e14b8f21f2526f~mv2.png" width="70" height="35" alt="Joyn" title="Joyn"/>
            </td>
            <td align="right">
              <a href="https://www.joyn.one" name="joyn" target="_blank" style="text-decoration: none; vertical-align: middle;">
                <span style="font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif !important; font-style: normal; font-weight: 600; font-size: 15px; text-align: top; color: #fff;">{{header_text}}</span>
                <img src="https://static.wixstatic.com/media/6426a8_9299573e934d4dcb907ed6f2235d6764~mv2.png" width="15" height="15" alt="" title="" style="vertical-align: top;" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<!-- END: Header -->
